{% extends 'base.html' %}

{% load static %}

{% block body %}
  
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h2>Plan ahead and reserve a table for an extraordinary dining experience.</h2>
                    </div>
                    <p>If you have any allergies or special requests, please let us know in the message box below.</p>
                    <p class='text-danger'>Please note that we are unable to accommodate reservations with more than a 30-minute delay.</p>
                    <div class="row contact-contacts">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Numbers</h4>
                                <span><a href="#">080-090-0990</a><br><a href="#">080-090-0880</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a href="#">hello@company.com</a><br><a href="#">info@company.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" action="{% url 'reservation:reservation' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Table Reservation</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                            <input type="hidden" name="name" value="{{ user.username }}">
                            <input type="hidden" name="email" value="{{ user.email }}">
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <input name="phone" type="text" id="phone" class="form-control" placeholder="Phone Number*" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <select name="number-guests" id="number-guests" class="form-control" required>
                                        <option value="number-guests">Number Of Guests</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group date" id="filterDate2" data-date-format="dd/mm/yyyy">
                                        <input name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy" required>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <select name="time" id="time" class="form-control" required>
                                        <option value="time">Time</option>
                                        <option value="17:00 - 18:00">17:00 - 18:00</option>
                                        <option value="18:00 - 19:00">18:00 - 19:00</option>
                                        <option value="19:00 - 20:00">19:00 - 20:00</option>
                                        <option value="20:00 - 21:00">20:00 - 21:00</option>
                                        <option value="21:00 - 22:00">21:00 - 22:00</option>
                                        <option value="22:00 - 23:00">22:00 - 23:00</option>
                                        <option value="23:00 - 00:00">23:00 - 00:00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea name="message" rows="6" id="message" class="form-control" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <button type="submit" id="form-submit" class="btn btn-primary btn-lg">Make A Reservation</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
      // Initialize the Datepicker
      $("#date").datepicker({
        dateFormat: "dd/mm/yy", // Date Format
        minDate: 0, // Set the current date
        beforeShowDay: function(date) {
          // Array with the days of the week restaurant is closed (Monday = 1, Tuesday = 2)
          var excludedDays = [1, 2];
  
          // Checks if the day is present in the array of excluded days
          var day = date.getDay();
          return [excludedDays.indexOf(day) === -1];
        }
      });
    });
  </script>
  

{% endblock body %}