{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="left-text-content">
                <div class="section-heading">
                    <h2>Plan ahead and reserve a table for an extraordinary dining experience.</h2>
                </div>
                <p>If you have any allergies or special requests, please let us know in the message box below.</p>
                <p class='text-danger'>Please note that we are unable to accommodate reservations with more than a 30-minute delay.</p>
                <!-- Show open reservation information -->                
                <h3>Your Existing Reservation:</h3>
                <p><strong>Reservation ID:</strong> {{ reservation.id }}</p>
                <p><strong>Name:</strong> {{ reservation.name }}</p>
                <p><strong>Email:</strong> {{ reservation.email }}</p>
                <p><strong>Phone:</strong> {{ reservation.phone }}</p>
                <p><strong>Number of Guests:</strong> {{ reservation.number_of_guests }}</p>
                <p><strong>Date:</strong> {{ reservation.date }}</p>
                <p><strong>Time:</strong> {{ reservation.time }}</p>
                <p><strong>Message:</strong> {{ reservation.message }}</p>
                <!-- Adicionar um botão para cancelar a reserva -->
                <a href="{% url 'home:home' %}" class="btn btn-primary">Done</a>
                <form method="POST" action="{% url 'reservation:cancel_reservation' reservation.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cancel Reservation</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}