{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- ***** Main Banner Area Start ***** -->
<section id="top" class="main-banner">
    <div class="container">
        <div class="row">
            <!-- Left Content -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="left-content">
                    <div class="inner-content">
                        <h1>Uncle Tetsu</h1>
                        <h2>THE BEST EXPERIENCE</h2>
                        <!-- Button to make a reservation -->
                        <div class="main-white-button scroll-to-section">
                            <a href="{% url 'reservation:reservation' %}" >Make A Reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Banner Carousel -->
            <div class="col-lg-6 main-banner-carousel owl-carousel">
                <!-- Carousel items with images -->
                <div class="item">
                    <img src="https://res.cloudinary.com/dp6ccs983/image/upload/c_fill,h_338,w_450/v1692652195/banner_img2_zxz1r8.webp" alt="carousel_img1" width='400' height='300'>
                    <button role="button" class="owl-dot" aria-label="Slide 1"></button>
                </div>
                <div class="item">
                    <img src="https://res.cloudinary.com/dp6ccs983/image/upload/c_fill,h_338,w_450/v1692652195/banner_img4_izokfh.webp" alt="carousel_img2" width='400' height='300'>
                    <button role="button" class="owl-dot" aria-label="Slide 2"></button>
                </div>
                <div class="item">
                    <img src="https://res.cloudinary.com/dp6ccs983/image/upload/c_fill,h_338,w_450/v1692560435/static/site_static/images/banner_img5.75b979ad2542.webp" alt="carousel_img3" width='400' height='300' loading="lazy">
                    <button role="button" class="owl-dot" aria-label="Slide 3"></button>
                </div>
                <div class="item">
                    <img src="https://res.cloudinary.com/dp6ccs983/image/upload/c_fill,h_338,w_450/v1692560434/static/site_static/images/banner_img6.b6acdb211879.webp" alt="carousel_img4" width='400' height='300' loading="lazy">
                    <button role="button" class="owl-dot" aria-label="Slide 4"></button>
                </div>
                <div class="item">
                    <img src="https://res.cloudinary.com/dp6ccs983/image/upload/c_fill,h_338,w_450/v1692557016/static/site_static/images/banner_img7.b0203fd5c27a.webp" alt="carousel_img5" width='400' height='300' loading="lazy">
                    <button role="button" class="owl-dot" aria-label="Slide 5"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Our Restaurant Section Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- Left Text Content -->
                <div class="left-text-content">
                    <div class="section-heading our-restaurant">
                        <h3>- Our Restaurant</h3>
                        <h4>We Leave A Delicious Memory For You</h4>
                    </div>
                    <!-- Description of the restaurant -->
                    <p class="our-p">Uncle Tetsu is a hidden gem nestled in the heart of Ronnang, Sweden. Our restaurant offers a delectable Japanese dining experience like no other...</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- Right Content with an image -->
                <div class="right-content">
                    <div class="thumb">
                        <img src="https://res.cloudinary.com/dp6ccs983/image/upload/c_fill,h_384,w_540/v1692652650/our_img_hcgw3n.webp" alt="restaurant_img" width='501' height='400' loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Restaurant Section End ***** -->

<!-- ***** User Reviews Section Start ***** -->
<section id="user-reviews">
    <h2>User Reviews</h2>
    {% if user_reviews %}
        <!-- Display user reviews -->
        <div class="user-reviews-container">
            {% for review in user_reviews %}
                <div class="user-review">
                    <!-- Display author, comment, and rating -->
                    <h5>{{ review.author }}</h5>
                    <p class='review-content'>{{ review.comment }}</p>
                    <span class='review-content'>Rating: {{ review.rating }}</span>
                    {% if user.is_authenticated and user == review.author %}
                        <!-- Edit and delete buttons for the review (if user is authenticated and author) -->
                        <form action="{% url 'home:edit_review' review.pk %}">
                            {% csrf_token %}
                            <button class='btn btn-primary edit-button' type="submit">Edit</button>
                        </form>
                        <form action="{% url 'home:delete_review' review.pk %}" method="post">
                            {% csrf_token %}
                            <button class='btn btn-danger' type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no reviews available.</p>
    {% endif %}

    <!-- Form to send a new review (only if the user is authenticated) -->
    {% if user.is_authenticated %}
        <div class="user-review-form text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#write-review-modal">Send a review</button>
        </div>
    {% else %}
        <p class="home-p">Please <a href="{% url 'login' %}">login</a> to make a review.</p>
    {% endif %}
</section>
<!-- ***** User Reviews Section End ***** -->

<!-- Modal for creating a review -->
<div class="modal fade" id="write-review-modal" tabindex="-1" role="dialog" aria-labelledby="write-review-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="write-review-modal-label">Make a review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Write a review</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send review</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Load script.js file -->
<script defer src="{% static 'site_static/js/script.js' %}"></script>

{% endblock body %}
