{% extends 'base.html' %}

{% block body %}
<!-- Suggested Dishes Section -->

<section class="suggested-dishes-section">
    <div class="container">
      <h2>Suggested Dishes</h2>
      <div class="row">
        {% for dish in dishes %}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="dish">
            <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
            <h3>{{ dish.name }}</h3>
            <p>{{ dish.description }}</p>
            <p>Price: ${{ dish.price }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  

{% endblock body %}