{% for review in user_reviews %}
<div class="item">
    <!-- Display author, comment, and rating -->
    <h4>{{ review.author }}</h4>
    <p>{{ review.comment }}</p>
    <span>Rating: {{ review.rating }}</span>
    
    <!-- Edit link for the review (if user is authenticated and author) -->
    <a class='link-review' href="{% url 'home:edit_review' review.pk %}">Edit</a>
    
    <!-- Form to delete the review (if user is authenticated and author) -->
    <form action="{% url 'home:delete_review' review.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</div>
{% empty %}
<!-- Display a message if there are no reviews available -->
<p>There are no reviews available.</p>
{% endfor %}
