<!-- user_reviews.html -->

{% for review in user_reviews %}
<div class="item">
    <h4>{{ review.author }}</h4>
    <p>{{ review.comment }}</p>
    <span>Rating: {{ review.rating }}</span>
    
    <!-- Add link to edit review -->
    <a class='link-review' href="{% url 'home:edit_review' review.pk %}">Editar</a>
    
    <!-- Add form to delete rating -->
    <form action="{% url 'home:delete_review' review.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Deletar</button>
    </form>
</div>
{% empty %}
<p>There is no reviews available.</p>
{% endfor %}
