{% extends 'base.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <!-- Sign Up Heading -->
      <h2 class="text-center mb-4">Sign Up</h2>
      <!-- Sign-Up Form -->
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
      </form>
      <!-- Sign-In Link -->
      <div class="text-center">
        <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
