/* Nav Bar */
.container.mt-4{
  margin: 0;
}

.navbar {
  padding: 0.5rem 4rem;
  border-bottom: #FA594A 1px solid;
  margin-top: -15px;
}

.navbar-nav {
  font-size: 20px;
}

/* Main Banner */

.main-banner {
  padding: 30px 0;
}

.main-banner .left-content {
  margin-bottom: 20px;
}

.main-banner h4 {
  font-family: 'Beach Resort', cursive;
  font-size: 50px;
  font-weight: 700;
  margin-left: 15%;
  margin-top: 5%;
}

.main-banner h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15%;
  margin-left: 20%;
}

.main-banner-carousel .item img {
  width: 400px;
  height: 250px;
}

.main-white-button {
  margin-top: -15px;
  margin-left: 15%;
}

.main-white-button a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #FA594A;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
}

.main-white-button a:hover {
  background-color: #FF453A;
}

/* Footer */

footer a {
  color: #fff;
  font-size: 25px;
  letter-spacing: 20px;
}

footer img {
  width: 120px;
  height: 100px;
  margin-top: -30px;
}

footer.text-center.py-3 {
    height: 14rem;
}

/* Menu */

.menu-item-card {
  position: relative;
  display: inline-block;
}

.menu-item-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  width: 80%;
}

.menu-item-card:hover .menu-item-details {
  opacity: 1;
}

/* Reservation */
#reservation {
  margin: 3rem;
}


.left-text-content p {
  margin: 2rem 0 1rem 0px;
  font-weight: 700;
}

.left-text-content .text-danger {
  margin-top: -10px;
  font-weight: 300;
}

.btn-group-lg>.btn, .btn-lg {
  right: 16%;
  position: absolute;
  width: 70%;
}

/* Reservation_Detail */

.container.reservation_detail {
  text-align: center;
  border: black 1px solid;
  margin-top: 3rem;
 
}

.container.reservation_detail h1 {
  margin: 2rem 0;
}

.container.reservation_detail p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
}

.container.reservation_detail strong {
  color: #FF453A;
  position: absolute;
  display: block;
}

.col-md-6.offset-md-3 {
    margin-bottom: 2rem;
}


/* Contact Us */
.contact-info {
  margin: 1rem;
}

.contact-contacts {
  margin: 3rem 0 3rem -1rem;
}

.left-text-content {
  padding-right: 2rem;
  text-align: center;
}

/* Maps */
.contact-section {
  margin-top: 2rem;
}

.contact-map {
  position: relative;
  width: 100%;
  height: 25rem;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}


/* Log in */

.container {
  margin-bottom: 3rem;
}

.form-group {
  margin-bottom: 2rem;
}


li.success.info {
  color: green;
  list-style: none;
  padding: 1rem;
  border: 1px solid green;
  background-color: #b2ebbe;
  text-align: center;
  margin-top: 1rem;
}

/* Log out */

li.error.info {
  color: red;
  list-style: none;
  padding: 1rem;
  border: 1px solid red;
  background-color: #efc1c1;
  text-align: center;
  margin-top: 1rem;
}


.row.justify-content-center {
  padding: 0 1.5rem;
}

h2.text-center.mb-4 {
  font-size: 2rem;
  letter-spacing: 1px;
}

button.btn.btn-primary.btn-block {
  margin-top: 3rem;
}

p.p-signin {
  margin-top: 4rem;


} 

p.p-signup {
    text-align: center;
    margin: 1rem;
}

.social-icon {
  margin-right: 10px;
}

a.btn.facebook-btn.btn-link.btn-floating.mx-1 {
  background-color: dodgerblue;
  color: #f4f4f4;
}

a.btn.google-btn.btn-link.btn-floating.mx-1 {
  background-color: #FF453A;
  color: #f4f4f4;
  margin: 0.7rem;
}

a.btn.github-btn.btn-link.btn-floating.mx-1 {
  background-color: #1f1c1c;
  color: #f4f4f4;
}

a.btn.btn-link.btn-floating.mx-1 {
  width: 18rem;
}