
/* Nav Bar */
.logo{
  border-radius: 50px;
  margin-top: 1rem;
}

.navbar {
  padding: 0.5rem 4rem;
  background-color: #fff;
  border-bottom: #EB5E28 2px solid;
  margin-top: -15px;
}

.navbar-nav {
  font-size: 1.2rem;
}

button.navbar-toggler {
  margin: -1rem;
}

/* Main Banner */

.main-banner {
  padding: 30px 0 0;
  background-color: #CCC5B9;
  border-bottom: #EB5E28 2px solid;
}

.main-banner .left-content {
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 4px;
}


.main-banner h4 {
  color: #252422;
  text-shadow: 1px 1px 2px #FFFCF2;
  font-family: 'Beach Resort', cursive;
  font-size: 50px;
  font-weight: 700;
  margin-left: 15%;
  margin-top: 5%;
}

.main-banner h6 {
  color: #252422;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15%;
  margin-left: 20%;
}

.main-banner-carousel .item img {
  width: 100%;
  height: 20rem;
}


.main-white-button {
  margin-top: -15px;
  margin-left: 15%;
}

.main-white-button a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ED7140;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
}

.main-white-button a:hover {
  background-color: #f1f1f1;
  color: #000;
  border: #ED7140 2px solid;
}

/* Our Restaurant */

#about {
  margin: 1.5rem;
  background-color: #403d39;
  color: #f1f1f1;
}

.our-restaurant h3 {
  text-align: left;

}

.our-p {
  text-align: left;
}

.our-img {
  width: 100px;
  height: 115px;
}

.our-img-m {
  width: 100px;
  height: 115px;
  padding: 0 3px 0 3px;
}

.our-restaurant h6 {
  margin: 2rem 0 1rem;
  text-align: left;
  color: #f1f1f1;
}

.thumb img {
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .our-img-m {
    width: 100%;
    height: 185px;
    padding: 0 3px 0 3px;
  }
  .our-img {
    width: 100%;
    height: 185px;
  }
  .thumb img {
    margin-top: 1rem;
    margin-top: 0;
    width: 100%;
    padding-bottom: 1rem;
  }
}

/* User Reviews */
#user-reviews>h2 {
  text-align: center;
  border-top: #EB5E28 2px solid;
  margin-top: 4rem;
  padding-top: 2rem;
}

.user-review>h4 {
margin: 1rem;
padding: 1rem;
font-size: 1.7rem;
font-weight: 600;
border-bottom: #EB5E28 1px solid;
}

.user-review {
  background-color: #e8e8e8;
  margin: 1.5rem auto;
  border-radius: 4px;
  padding-bottom: 1rem;
}

.user-reviews-container {
  margin: 1.5rem;
}

button.btn.btn-primary.edit-button {
  margin: 1.5rem 1.5rem 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 17rem;
}

button.btn.btn-primary {
  margin: 1.5rem;
  padding: 0.5rem 1.5rem;
  width: 17rem;
  background-color: #4DA3FF;
  color: #000;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}

button.btn.btn-danger {
  margin: 0 1.5rem;
  padding: 0.5rem 1.5rem;
  width: 17rem;
}

button.btn.btn-danger:hover {
  background-color: #a20707;
  border-color: #ffffff;
  color: #fff;
}

.review-content {
  font-size: 1.2rem;
  margin: 1rem;
}

.home-p {
  margin-left: 2rem;
}

.link-review {
  color: #EB5E28;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-transform: capitalize;
}

/* Write Review */

textarea#id_comment {
  width: -webkit-fill-available;
}

/* Edit Review */

.edit-form {
  max-width: 25rem;
  margin: 0 auto;
  padding: 20px;
}

.edit-form>h2 {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.edit-form>p {
  font-size: larger;
  font-weight: 400;
}

/* alert Messages */

.message-success {
  color: green;
  padding: 10px 1rem;
  border: 1px solid green;
  background-color: #b2ebbe;
  list-style: none;
  border-radius: 7px;
  text-align: center;
  margin-top: 0.5rem;
}

li.messages.col-md-12 {
  margin-left: 4rem;
}

.message-error {
  color: red;
  padding: 10px 1rem;
  border: 1px solid red;
  background-color: #efc1c1;
  list-style: none;
  border-radius: 7px;
  text-align: center;
  margin-top: 0.5rem;
}


/* Footer */

footer.text-center.py-3 {
  border-top: #EB5E28 2px solid;
  background-color: #252422;
}

footer a {
  color: #FFF;
  font-size: 25px;
  letter-spacing: 20px;
}

footer p {
  color: #CCC5B9;
}

footer img {
  width: 120px;
  height: 90px;
}

.logo-footer {
  margin: -1rem 0 1rem;
}

/* Menu */

.menu-nav a {
  color: #9A360E;
  font-size: 1.25rem;
  font-weight: 600;
}

.menu-item-card {
  position: relative;
  display: inline-block;
}

.menu-item-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  width: 80%;
}

#category h2 {
  margin: 1rem 0 2rem;
}

#category {
  margin: 1rem;
  background-color: #d9d7d7;
  color: #eb5e28;
}

.menu-item-card:hover .menu-item-details {
  opacity: 1;
}

.card-title {
  color:#EB5E28;
}

.card-price {
  color: #EB5E28;
  font-weight: 700;
  border: #f1f1f1 solid 1px;
}

.categ-text {
  text-align: center;
  margin: 2rem 0 2rem;
}

/* Reservation */
#reservation {
  margin: 3rem;
}


.left-text-content p {
  margin: 2rem 0 1rem 0px;
  font-weight: 700;
}

.left-text-content .text-danger {
  margin-top: -10px;
  font-weight: 300;
}

.row.contact-contacts span>a {
  font-size: larger;
  margin: -15px 0px;
}

.btn-group-lg>.btn, .btn-lg {
  right: 16%;
  position: absolute;
  width: 70%;
}

.btn.btn-primary.reserv-btn {
  margin: 0;
  width: -webkit-fill-available;
  background-color: #4DA3FF;
  color: #000;
}

div#ui-datepicker-div {
  display: table;
}

/* Reservation_Detail */

.container.reservation_detail {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0 1rem;
 
}

.container.reservation_detail h3 {
margin-bottom: 3rem;
}

.container.reservation_detail p {
  font-size: 1rem;
  text-align: right;
  font-weight: 400;
}

.container.reservation_detail p>strong {
  color: #9A360E;
  font-weight: 700;
  position: absolute;
  display: block;
}

.section-heading.col-md-12.offset-md-6 h3 {
  margin: 1.5rem 0 2rem;
}

.detail-btn.btn.btn-danger.ml-2 {
  width: 6rem;
  background-color: #E7737F;
  color: #000;
}

a.detail-btn.btn.btn-primary {
  width: 6rem;
  margin-right: 1rem;
  background-color: #4DA3FF;
  color: #000;
}

.btn-group.reserv-op {
  margin-top: 2rem;
}

#reserv-details {
  position: relative;
  right: -3%;
}

/* Contact Us */
.contact-info {
  margin: 1rem;
}

.contact-contacts {
  margin: 3rem 0 3rem -1rem;
}

.left-text-content {
  padding-right: 2rem;
  text-align: center;
}

.contact-info span>a {
  font-size: larger;
  margin: -15px 0px;
}

a {
  color: #0057A8;
}

.contact-contacts h4 {
  margin-bottom: 0.5rem;
}

.contact-number a{
  margin: 1rem 0 1rem;
  font-weight: 500;
}

/* Maps */
.contact-section {
  margin-top: 2rem;
}

.contact-map {
  position: relative;
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}


/* Log in */


.form-group {
  margin-bottom: 2rem;
}

.login-msg{
  margin: 0;
}

li.success.info {
  color: green;
  list-style: none;
  padding: 1rem;
  border: 1px solid green;
  background-color: #b2ebbe;
  text-align: center;
  margin-top: 1rem;
}

/* Register */

.form-group>input {
  width: 100%;
}

/* Log out */

li.error.info {
  color: red;
  list-style: none;
  padding: 1rem;
  border: 1px solid red;
  background-color: #efc1c1;
  text-align: center;
  margin-top: 1rem;
}

/* Authentication */
.row.justify-content-center {
  padding: 0 1.5rem;
}

h2.text-center.mb-4 {
  font-size: 2rem;
  letter-spacing: 1px;
}

button.btn.btn-primary.btn-block {
  margin-top: 3rem;
  width: 90%;
}


p.p-signin {
  margin-top: 4rem;


} 

p.p-signup {
    text-align: center;
    margin: 1rem;
}

.social-icon {
  margin-right: 10px;
}

a.btn.facebook-btn.btn-link.btn-floating.mx-1 {
  background-color: dodgerblue;
  color: #f4f4f4;
}

a.btn.google-btn.btn-link.btn-floating.mx-1 {
  background-color: #FF453A;
  color: #f4f4f4;
  margin: 0.7rem;
}

a.btn.github-btn.btn-link.btn-floating.mx-1 {
  background-color: #1f1c1c;
  color: #f4f4f4;
}

a.btn.btn-link.btn-floating.mx-1 {
  width: 18rem;
}


/* Error */

.error {
  margin-top: 25%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: .25rem;
}


